<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtelsolution.xmec">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".xmec.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".xmec.view.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".xmec.view.activity.home.HomeActivity" />
        <activity
            android:name=".xmec.view.activity.CoordinatorDemo"
            android:label="@string/title_activity_coordinator_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".xmec.view.activity.home.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".xmec.view.activity.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>